---
import Layout from "@/layouts/Layout.astro";
import SessionManager from "@lib/SessionManager";

const { cookies, redirect } = Astro;

const sessionManager = new SessionManager(cookies);
await sessionManager.initialize();

const sessionData = sessionManager.getSessionData();

if (!sessionData?.access_token) {
  return redirect("/login");
}

const email = sessionData?.user?.email;
---

<Layout title="dashboard">
  <h1>Welcome {email}</h1>
  <p>We are happy to see you here</p>
  <form action="/api/auth/signout">
    <button type="submit">Sign out</button>
  </form>
</Layout>
