---
import UserWidget from "./UserWidget.astro";

// Define a reactive variable to track the user's login status
let isLoggedIn = false;
---

<>
  <a
    id="login-button"
    type="button"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded size-lg"
    href="/login"
  >
    {isLoggedIn ? "Logout" : "Login"}
  </a>
  <UserWidget />
</>

<script>
  // Define a reactive variable to track the user's login status
  let isLoggedIn = false;

  // Function to handle login/logout
  function handleLogin() {
    isLoggedIn = !isLoggedIn;
  }

  const loginButton = document.getElementById("login-button");
  loginButton.addEventListener("click", handleLogin);
</script>
