---
const user = {
  username: "JohnDoe",
  email: "",
};
---

<template>
  <div class="relative">
    <button @click="toggleDropdown" class="flex items-center space-x-2">
      <span class="text-gray-500">{user.username}</span>
      <span class="text-gray-400">{user.email}</span>
      <svg
        class="w-4 h-4 text-gray-400"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M10 12a2 2 0 100-4 2 2 0 000 4z"
          clip-rule="evenodd"></path>
      </svg>
    </button>

    <div
      x-show="isDropdownOpen"
      @click.away="closeDropdown"
      class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10"
    >
      <ul class="py-1">
        <li>
          <a
            href="#"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          >
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        isDropdownOpen: false,
        user: {
          username: "JohnDoe",
          email: "johndoe@example.com",
        },
      };
    },
    methods: {
      toggleDropdown() {
        this.isDropdownOpen = !this.isDropdownOpen;
      },
      closeDropdown() {
        this.isDropdownOpen = false;
      },
    },
  };
</script>

<style>
  /* Add your custom styles here */
</style>
