---
import Login from "./LoginButton.astro";
---

<astro>
  <header class="flex justify-between gap-4 p-4 text-white">
    <!-- Company Logo -->
    <div class="flex justify-center items-center min-w-[106px]">
      <img
        class="bg-white rounded-md p-1"
        width="106px"
        height="28px"
        src="astro.svg"
        alt="Company Logo"
      />
    </div>

    <!-- Header Links -->
    <nav class="hidden md:flex flex-grow justify-end items-center gap-4">
      <ul class="flex space-x-4">
        <!-- Replace with your header links based on passed object config -->
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <!-- Login Component -->
    <div class="col-span-1 md:col-span-3 lg:col-span-1 flex justify-end">
      <!-- Replace with your login component -->
      <Login />
    </div>
  </header>
</astro>
